.wrapper {
  height:100%;
  position: absolute;
  width: 100%;

  .left-side-bar {
    display: inline-block;
    float: left;
    height: 100%;
    width: 240px;
  }

  .right-img {
    display: inline-block;
    float: left;
    height: 100%;
    margin-left: 20px;
    width: calc(100% - 260px);
  }
}
