/* You can add global styles to this file, and also import other style files */
.header-font-size {
  font-size: 36px;
}

.subtitle-font-size {
  font-size: 28px;
}

.color-black{
  color: black;
}

.cursor-pointer {
  cursor: pointer;
}

.float-right {
  float: right;
}

.text-decoration-underline{
  text-decoration: underline;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.width-33-percent {
  width: 33%;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.flex-grow {
  flex-grow: 1;
}
